# Compiled document files.
*.pdf
*.aux
doxygen/*

# Compiled object files.
*.slo
*.lo
*.o

# Compiled dynamic libraries.
*.so

# Compiled static libraries.
*.lai
*.la
*.a

# Compiled binaries.
pr061012*
*.out
test/*/test

# Logs.
*.log

# Backups.
*~
*.swp
*.swo
