# Compiled document files.
*.pdf
*.aux
doxygen/*

# Compiled object files.
*.slo
*.lo
*.o

# Compiled dynamic libraries.
*.so

# Compiled static libraries.
*.lai
*.la
*.a

# CMake files.
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
cmake_install.cmake
Makefile

# Compiled binaries.
pr061012*
*.out
test/*/test

# Logs.
*.log
LOG
*/LOG

# Backups.
*~
*.swp
*.swo
*.autosave
